*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #FFFFF0;
    font-family: Arial, Helvetica, sans-serif;
}
/*header*/
.heading{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    font-size: 15px;
    border-bottom: 1px solid #000;
    background-color: #fff;
 }

 .heading > .left,
 .heading > .right{
    display: flex;
 }

 .heading > .left > div,
 .heading > .right > div{
     padding: 0 10px;
 }

 .heading div a{
     text-decoration: none;
     color: #000;
 }

 .heading div a:hover{
     color: #0000FF;
 }

.heading .hotline  span{
    color: #f44336;
}
.heading div a:hover{
    color: #6495ED;
}

/*nav*/
#Menu{
    background-color: #DCDCDC;
    font-size: 22px;
    width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#Menu .logo img{
    width: 100%;
}

#Menu .logo{
    width: 60px;
}

#icon-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu-list > ul{
    display: flex;
    justify-content: center;
}

#menu-list > ul > li{
    max-width: 200px;
}

#menu-list > ul > li a{
    text-decoration: none;
    color: #000;
    display: block;
    padding: 20px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

ul > li {
    max-width: 500px;
}

li.sub > ul.menusub{
    display: none;
}

li.sub:hover .menusub{
    display: block;
    background-color: #DCDCDC;
    position: absolute;
    opacity: 0.9;
    z-index: 1;
}

.menusub > li{
    border-top: 1px solid black;
}

#main-menu > li:hover > a,
#main-menu .menusub li:hover a{
    color: #fff;
    background-color: #000;
    opacity: 0.6;
}

.down{
    height: 40px;
    width: 90%;
    margin: 0 auto;
}

.down .search{
    height: 37px;
    width: 300px;
    background-color: #fff;
    border-radius: 20px;
}

.search input{
    width: 250px;
    height: 35px;
    font-size: 15px;
    border: none;
    padding-left: 10px;
    border-radius: 20px;
}

#icon-list .search a{
    color: #000;
    border: 1px solid;
    padding: 5px;
    font-size: 17px;
    background-color: #ccc;
    border-radius: 5px;
}

#icon-list .cart,
#icon-list .user{
    margin-left: 10px;
    padding: 10px;
    position: relative;
}

.cart span{
    position: absolute;
    font-size: 15px;
    color: #fff;
    top: 27%;
    right: 35%;
    font-weight: bold;
}

#icon-list .cart a,
#icon-list .user a{
    color: #000;
    font-size: 30px;
}

#icon-list div a:hover,
.mobile-menu-list .mobile-menu-btn:hover,
#icon-list .search a:hover{
    opacity: 0.7;
    cursor: pointer;
}

/*mobile-menu*/
.navBar-mobile{
    max-width: 100%;
    margin: 0 auto;
    display: none;
}

/*section product*/
section.product{
    width: 90%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
div.information,div.color{
    width: 24%;
    background-color: white;
    padding: 20px;
}
div.information div span{
    font-weight: bold;
}
li.msp{
    font-size: 10px;
    margin-top: 10px;
}
div.Product{
    display: flex;
    margin-top: 20px;
}
li.price-old{
    text-decoration: line-through;
    font-weight: bold;
    margin-top: 10px;
}
li.price-new{
    font-weight: bold;
    margin: 10px 0;
    color: red;
    font-weight: bold;
}
div.special{
    border: 1px solid black;
    border-radius: 10px;
    background-color: red;
    color: white;
    width: 80%;
    text-align: center;
}


div.item{
    width: 52%;
    margin: 0 10px;
}

div.thumb{
    display: flex;
    flex-wrap: wrap;
}
div.img-mh{
    width: 49%;
    margin:0.5%;
    padding: 5px;
}
div.img-mh a > img{
    width: 100%;
}
div.item > img{
    width: 100%;
}
div.color{
    font-size: 15px;
}
div.btnColor{
    display: flex;
}
div.btnColor > div{
    width: 32%;
    margin:0.5%;
    padding: 5px;
}
div.mau img{
    width: 100%;
}
div.color ul > li{
    list-style-type: square;
}
div.dk{
    background-color: black;
    color: white;
    border: 1ps solid black;
    border-radius: 20px;
    margin: 10px 0;
    text-align: center;
    font-size: 20px;
}
div.dk a{
    color: white;
    text-decoration: none;
}
div.button > button{
    background-color: white;
    color: black;
    width: 100%;
    text-align: left;
    border: 0px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}
li > span{
    font-weight: bold;
}
div.dc{
      padding: 0 20px;
}
li > span{
    color: #666;
}
div.button:hover button{
    color:black;
    background-color: white;
}
div.moadal-body span{
    font-weight: bold;
    
}
/*section Other Products*/
.OP{
    text-align: center;
    color: #666;
    width: 90%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
.OP .title{
    margin: 10px 0;
    text-decoration: underline;
    color: black;
    font-size: 30px;
    font-weight: 700;
}

div.filtering{
    margin-bottom: 20px;
}

div.filtering > div{
    margin: 0 20px;
    height: 600px;
}

div.thumb-sub img{
    width: 100%;
    transition: transform 1s;
}

div.thumb-sub img:hover{
    transform: scale(1.2);
    opacity: 0.7;
}

div.thumb-sub > div{
    overflow: hidden;
}

div.thumb-sub{
    background-color: #fff ;
}

.comment{
    padding: 10px;
}

.slick-prev::before, .slick-next::before{
    font-size: 30px;
    color: #000;
}
/*section back*/
a#top{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    position: fixed;
    bottom: 100px;
    padding: 15px;
    right: 40px;
    text-align: center;
    border-radius: 10px;
    display: block;
    background-color: #363636;
    z-index: 999;
    opacity: 0.7;
}
/*section phone*/
.phone{
    background-color: lightgrey;
    font-size: 20px;    
}
.phone div.phone{
    padding: 10px 0 10px 100px;
}
.phone > span{
    color: #f44336;
}
/*section introduce*/
.introduce-shop{
    margin: 20px 0;
}
.introduce-shop h2{
    text-align: center;
    font-size: 40px;
}
.introduce-shop .letter{
    text-align: center;
    padding: 5px;
    width: 80%;
    margin: 0 auto;
}
/*section foot*/
.foot{
    display: flex;
    width: 100%;
    font-size: 14px;
    color: black;
    background-color: #fafafa;  
    align-items: flex-start;
    justify-content: space-evenly;
}

div.address h4:hover{
    cursor: pointer;
}

.social-media > .icon-media{
    display: flex;
    font-size: 30px;
}
.social-media .icon-media > div{
    padding: 0 5px;
    margin-bottom: 20px;
}
div.email > a{
    text-decoration: none;
    color: black;
}
div.email:hover > a{
    color: blue;
}