*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #FFFFF0;
    font-family: Arial, Helvetica, sans-serif;
}
/*section product*/
section.product{
    width: 90%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

div.Product{
    display: flex;
    margin-top: 20px;
}

div.information,div.color{
    width: 24%;
    background-color: white;
    padding: 20px;
}
div.information div span{
    font-weight: bold;
}
li.msp{
    font-size: 10px;
    margin-top: 10px;
}

li.price-old{
    text-decoration: line-through;
    font-weight: bold;
    margin-top: 10px;
}
li.price-new{
    font-weight: bold;
    margin: 10px 0;
    color: red;
}
div.special{
    border: 1px solid black;
    border-radius: 10px;
    background-color: red;
    color: white;
    width: 80%;
    text-align: center;
}


div.item{
    width: 52%;
    margin: 0 10px;
}

div.thumb{
    display: flex;
    flex-wrap: wrap;
}
div.img-mh{
    width: 49%;
    margin:0.5%;
    padding: 5px;
}
div.img-mh a > img{
    width: 100%;
}
div.item > img{
    width: 100%;
}
div.color{
    font-size: 15px;
}
div.btnColor{
    display: flex;
}
div.btnColor > div{
    width: 32%;
    margin:0.5%;
    padding: 5px;
}
div.mau img{
    width: 100%;
}
div.color ul > li{
    list-style-type: square;
}
div.dk{
    background-color: #000;
    color: #fff;
    border: 1ps solid #000;
    margin: 10px 0;
    text-align: center;
    font-size: 20px;
}
div.dk a{
    color: white;
    text-decoration: none;
}

.js-address{
    font-size: 19px;
    margin-bottom: 10px;
}

.js-address a{
    text-decoration: none;
    color: #000;
}

.js-address:hover a{
    opacity: 0.7;
}

/*section Other Products*/
.OP{
    text-align: center;
    color: #000;
    width: 90%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
.OP .title{
    margin: 20px 0;
    text-decoration: underline;
    color: black;
    font-size: 30px;
    font-weight: 700;
}

div.filtering{
    margin-bottom: 20px;
}

div.filtering > div{
    margin: 0 20px;
    height: 600px;
}

div.thumb-sub img{
    width: 100%;
    transition: transform 1s;
}

div.thumb-sub img:hover{
    opacity: 0.5;
}

div.thumb-sub > div{
    overflow: hidden;
}

div.thumb-sub{
    background-color: #fff ;
}

.comment{
    padding: 10px;
}

.slick-prev::before, .slick-next::before{
    font-size: 30px;
    color: #000;
}
