*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #FFFFF0;
    font-family: Arial, Helvetica, sans-serif;
}
/*section cart*/
.main{
    display: flex;
}

.main > div{
    width: 49%;
    margin:0.5%;
    padding: 5px;
}

/*LEFT*/

.main  div.right{
    border-left: 1px solid #ccc;
}
.head{
    font-size: 25px;
    border-bottom: 1px solid #ccc;
    margin-left: 10px;
}

.list > div{
    text-align: right;
    margin: 15px;
}

.list > div.send-cart{
    text-align: center;
}

.list > div .text{
    padding-right: 10px;
    font-weight: bold;
}

.info-left{
    overflow: auto;
}

.info-left div{
    float: right;
    width: 75%;
}

.form .note{
    height: 50px;
}

.form span > input{
    width: 75%;
}

.form div > input{
    width: 100%;
}

.send-cart input{
    text-align: center;
}

.send-cart input{
    padding: 10px 0;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
}

.send-cart input:hover{
    opacity: 0.6;
    cursor: pointer;
}

.form #number{
    width: 75%;
    height: 30px;
    cursor: pointer;
}



/*Right*/
.product-list{
    font-size: 13px;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td.name{
    font-weight: bold;
    font-size: 12px;
}

table{
    width: 100%;
}

table tr th,
table tr td{
    padding: 8px;
    vertical-align: top;
}

td img{
    width: 48px;
}


td input{
    padding: 5px;
}

tfoot.price tr{
    border-bottom: 1px solid #999;
}

.right .send-cart{
    display: none;
}



