.cart-main{
    width: 80%;
    margin: 50px auto;
}

.cart-main h1{
    text-align: center;
}

th {
    background-color: #999;
    padding: 10px;
}

td img{
    width: 100px;
}

th,
td {
    border: 1px #CCC solid;
    padding: 5px;
    text-align: center;
    font-size: 17px;
}

td div,
th div,
tbody {
    padding: 0px;
    text-align: center;
    font-size: 17px;
}