*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #FFFFF0;
    font-family: Arial, Helvetica, sans-serif;
}
/*Nav Logo*/
#logo .logo-image img{
    width: 100%;
    height: 400px;
}

/*ads*/
section.ads-main{
    width: 100%;
    margin: 0 auto;
}

.carousel-inner img{
    width: 100%;
    max-height: 500px;
}

/*ads-sub*/
.ads-sub{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

/*best seller*/
.BestSeller{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #000;
}

.BestSeller > div,
.BestSeller h2{
    width: 100%;
    margin: 20px 0;
}

div.filtering > div{
    margin: 0 20px;
    height: 600px;
}

.BS{
    background-color: #fff ;
    position: relative;
}
.BS img{
    width: 100%;
    transition: opacity linear 0.5s;
}
div.BS:hover img{
    opacity: 0.5;
}

div.comment-top .name{
    margin: 5px 0;
    font-size: 15px;
    font-weight: bold;
}

div.comment-top .money{
    padding-bottom: 10px;
    font-size: 14px;
}

div.label{
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    background-color: #DAA520;
    padding: 5px 20px;
    color: #000;
    border-radius: 5px 0 0 0;
}

.slick-prev::before, .slick-next::before{
    font-size: 30px;
    color: #000;
}

/*favorite product*/
.favorite{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #000;
}

.favorite h2{
    margin-top: 10px;
}
.favorite-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product{
    width: 24%;
    margin:0.5%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff ;
    position: relative;
}
.product img{
    width: 100%;
    min-height: 400px;
    transition: opacity 1s;
    border-radius: 5px 5px 0 0;
}

div.comment{
    margin: 10px 0 0;
}

div.comment > h6{
    margin: 0;
}

.price .money{
   font-size: 14px;
   font-weight: bold;
   margin-bottom: 5px;
}

div.product:hover img{
    opacity: 0.5;
}

div.xem > a{
    font-size: 15px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    padding: 5px;
}
div.xem{
    padding: 10px; 
    margin: 10px;
}
div.xem > a:hover{
    background-color: #ccc;
}
/*section blog*/
.Blog{
    width: 100%;
    margin: 10px auto;
    font-family: Arial, Helvetica, sans-serif;
}
.blog > h3{
    text-align: center;
    margin-top: 10px;
}
.Blog-sub > .title{
    font-size: 15px;
    font-weight: bold;
}
.Blog-sub p{
    font-size: 13px;
    line-height: 21px;
    font-weight: 400;
    color: #666;
}
div.Blog{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
div.Blog-sub{
    width: 31%;
    margin:0.5%;
    padding: 5px; 
}
div.Blog-sub img{
    width: 100%;
    transition: transform 1s;
}
div.Blog-sub img:hover{
    transform: scale(1.2);
}
div.Blog-sub > div{
    overflow: hidden;
}
/*section service*/
.service{
    width: 100%;
    margin: 0 auto;
    font-size: 12px;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
}
div.title h4{
    font-size: 17px;
    font-weight: bold;
}
div.title div.icon{
    float: left;
    font-size: 20px;
    padding: 0 10px;
}
.service-con div > ul{
    list-style-type: unset;
}
div.service{
    display: flex;
    justify-content: center;
}
div.service-con{
    width: 22%;
    margin:0.5%;
    padding: 20px;
}

div.service-con span{
    font-size: 10px;
}
