*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #FFFFF0;
    font-family: Arial, Helvetica, sans-serif;
}
/*header*/
.heading{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    font-size: 15px;
    border-bottom: 1px solid #000;
    background-color: #fff;
 }

 .heading > .left,
 .heading > .right{
    display: flex;
 }

 .heading > .left > div,
 .heading > .right > div{
     padding: 0 10px;
 }

 .heading div a{
     text-decoration: none;
     color: #000;
 }

 .heading div a:hover{
     color: #0000FF;
 }

.heading .hotline  span{
    color: #f44336;
}
.heading div a:hover{
    color: #6495ED;
}
/*nav*/
#Menu{
    background-color: #DCDCDC;
    font-size: 22px;
    width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#Menu .logo img{
    width: 100%;
}

#Menu .logo{
    width: 60px;
}

#icon-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu-list > ul{
    display: flex;
    justify-content: center;
}

#menu-list > ul > li{
    max-width: 200px;
}

#menu-list > ul > li a{
    text-decoration: none;
    color: #000;
    display: block;
    padding: 20px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

ul > li {
    max-width: 500px;
}

li.sub > ul.menusub{
    display: none;
}

li.sub:hover .menusub{
    display: block;
    background-color: #DCDCDC;
    position: absolute;
    opacity: 0.9;
    z-index: 1;
}

.menusub > li{
    border-top: 1px solid black;
}

#main-menu > li:hover > a,
#main-menu .menusub li:hover a{
    color: #fff;
    background-color: #000;
    opacity: 0.6;
}

.down{
    height: 40px;
    width: 90%;
    margin: 0 auto;
}

.down .search{
    height: 37px;
    width: 300px;
    background-color: #fff;
    border-radius: 20px;
}

.search input{
    width: 250px;
    height: 35px;
    font-size: 15px;
    border: none;
    padding-left: 10px;
    border-radius: 20px;
}

#icon-list .search a{
    color: #000;
    border: 1px solid;
    padding: 5px;
    font-size: 17px;
    background-color: #ccc;
    border-radius: 5px;
}

#icon-list .cart,
#icon-list .user{
    margin-left: 10px;
    padding: 10px;
    position: relative;
}

.cart span{
    position: absolute;
    font-size: 15px;
    color: #fff;
    top: 27%;
    right: 35%;
    font-weight: bold;
}

#icon-list .cart a,
#icon-list .user a{
    color: #000;
    font-size: 30px;
}

#icon-list div a:hover,
.mobile-menu-list .mobile-menu-btn:hover,
#icon-list .search a:hover{
    opacity: 0.7;
    cursor: pointer;
}

/*mobile-menu*/
.navBar-mobile{
    max-width: 100%;
    margin: 0 auto;
    display: none;
}

/*ads*/
section.ads{
    width: 100%;
    margin: 0 auto;
}

.carousel-inner img{
    width: 100%;
    height: 500px;
}

/*menu jean*/
.title{
    overflow: auto;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: flex-end ;
    justify-content: space-between;
}

.title > span{
    font-size: 40px;
    font-weight: bold;
    text-align: left;
}

.List > ul{
    display: flex;
    text-align: left;
    font-size: 14px;
    align-items: center;
}

.List > ul > li{
    max-width: 300px;
}

.List > ul > li  a{
    text-decoration: none;
    color: #000;
    display: block;
    padding: 10px 20px;
}

.List > ul > li  .icon-list{
    padding: 10px 5px;
}

li.sub-jean .menu-jean{
    display: none;
}

li.sub-jean:hover .menu-jean{
    display: block;
    background-color: #FFFFF0;
    position: absolute;
    opacity: 0.9;
    z-index: 1;
}

.List > ul > li:hover > a,
.title .menu-jean li:hover a{
    border: 1px solid #ccc;
    box-shadow: 1px #ccc;
}

/*body*/
section.body{
    width: 95%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

div.jeans{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
div.jean{
    width: 30%;
    border: 1px solid black;
    background-color: #fff;
    margin: 1%;
    border-radius: 5px;
    position: relative;
    text-align: center;
    border-bottom: none;
}
div.jean img{
    width: 100%;
    max-height: 500px;
    transition: transform 1s;
    border-radius: 5px 5px 0 0;
}

div.jean img:hover{
    transform: scale(1.2);
    opacity: 0.7;
}

div.jean div{
    overflow: hidden;
    font-size: 15px;
}

div.jean div.gia{
    text-align: center;
    color: black;
}
div.jean span{
    font-size: 12px;
    color:black;
    text-decoration:line-through;
}

div.comment{
    margin: 10px 0 0;
}

.price{
    display: flex;
    width: 100%;
}

.price .money,
.price .money-discout{
    width: 70%;
    border-radius: 0 0 0 5px;
    background-color: #FAEBD7;
    font-weight: bold;
    border-right: none;
    border-left: none;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price .money-discout{
    color: #f44336;
}

.price .icon-buy{
    width: 30%;
    border-radius: 0 0 5px 0;
    font-size: 20px;
    border-right: none;
}

.price > div{
    border: 1px solid #000;
    padding: 10px;
}


.price .money{
    border-right: 1ps solid black;
}


.price .icon-buy:hover{
    background-color: #ccc;
    cursor: pointer;
}


div.label, .label-discout, .discout{
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    background-color: #DAA520;
    padding: 10px 20px;
    color: #000;
    border-radius: 5px 0 0 0;
}

.discout{
    background-color: #f44336;
    top: 0;
    left: 0;
    color: #000;
}

div.label-discout{
    background-color: #f44336;
    margin-top: 50px;
    border-radius: 0;
} 
div.colors{
    display: flex;
    justify-content: center;
}
div.color{
    width: 20%;
    margin:0.5%;
    padding: 5px;
}
div.color > img{
    width: 100%;
}

div.colors1{
    display: flex;
    justify-content: center;
}
div.color1{
    width: 20%;
    margin:0.5%;
    padding: 5px;
}
div.color1 > img{
    width: 100%;
}
div.colors2{
    display: flex;
    justify-content: center;
}
div.color2{
    width: 20%;
    margin:0.5%;
    padding: 5px;
}
div.color2 > img{
    width: 100%;
}
/*section page*/
.page_nav{
    margin: 0 0 10px;
}

ul.page{
    display: flex;
    overflow: hidden;
    justify-content: center;
    padding: 10px;
}


.active{
    background-color: #ccc;
}

ul.page li a{
    border: 1px solid #000;
    color: #000;
    text-decoration: none;
    padding: 5px 10px; 
}
li.number:hover a{
    background-color: #ccc;
}
span.iconToi{
    font-size: 10px;
}
/*section back*/
a#top{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    position: fixed;
    bottom: 100px;
    padding: 15px;
    right: 40px;
    text-align: center;
    border-radius: 10px;
    display: block;
    background-color: #363636;
    z-index: 999;
    opacity: 0.7;
}
/*section phone*/
.phone{
    background-color: lightgrey;
    font-size: 20px;    
}
.phone div.phone{
    padding: 10px 0 10px 100px;
}
.phone > span{
    color: #f44336;
}
/*section introduce*/
.introduce-shop{
    margin: 20px 0;
}
.introduce-shop h2{
    text-align: center;
    font-size: 40px;
}
.introduce-shop .letter{
    text-align: center;
    padding: 5px;
    width: 80%;
    margin: 0 auto;
}
/*section foot*/
.foot{
    display: flex;
    width: 100%;
    font-size: 14px;
    color: black;
    background-color: #fafafa;  
    align-items: flex-start;
    justify-content: space-evenly;
}

div.address h4:hover{
    cursor: pointer;
}

.social-media > .icon-media{
    display: flex;
    font-size: 30px;
}
.social-media .icon-media > div{
    padding: 0 5px;
    margin-bottom: 20px;
}
div.email > a{
    text-decoration: none;
    color: black;
}
div.email:hover > a{
    color: blue;
}

