*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #FFFFF0;
    font-family: Arial, Helvetica, sans-serif;
}
/*header*/
.heading{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    font-size: 15px;
    border-bottom: 1px solid #000;
    background-color: #fff;
 }

 .heading > .left,
 .heading > .right{
    display: flex;
 }

 .heading > .left > div,
 .heading > .right > div{
     padding: 0 10px;
 }

 .heading div a{
     text-decoration: none;
     color: #000;
 }

 .heading div a:hover{
     color: #0000FF;
 }

.heading .hotline  span{
    color: #f44336;
}
.heading div a:hover{
    color: #6495ED;
}

/*nav menu*/
#Menu{
    background-color: #DCDCDC;
    font-size: 20px;
    width: auto;
    margin: 0 auto;
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid #ccc;
}

#Menu .logo{
    width: 200px;
}

#Menu .logo img{
    width: 100%;
    height: 70px;
}

#icon-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul > li a{
    color: #000;
    text-decoration: none;
}

#menu-list > ul{
    display: flex;
    justify-content: center;
}

#menu-list > ul > li{
    position: relative;
}

#menu-list > ul > li a{
    text-decoration: none;
    color: #000;
    display: block;
    padding: 15px;
    font-weight: bold;
}

li.sub > ul.menusub > li > a{
    color: #fff !important;
}

li.sub > ul.menusub{
    display: none;
    background-color: #363636;
    width: 100%;
}

li.sub:hover .menusub{
    display: block; 
    position: absolute;
    opacity: 0.9;
    z-index: 1;
    font-size: 20px;
}

#menu-list > ul > li:hover > a{
   opacity: 0.6;
}

#main-menu .menusub li:hover a{
    background-color: #000; 
}

.menusub::after{
    content: " ";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #363636 transparent;
    position: absolute;
    bottom: 100%;
    left: 40%;
}

.nav-badge{
    background-color: rgb(180, 27, 27);
    color: #fff;
    padding: 0 6px;
    position: absolute;
    font-size: 12px;
    top: -5px;
    right: -10px;
}

.nav-badge::after{
    content: "";
    border-width: 5px;
    border-style: solid;
    border-color: rgb(180, 27, 27) transparent transparent  transparent;
    position: absolute;
    top: 100%;
    right: 15px;
}

/* menu ipad */
    /* search */
.search-ipad{
    width: 95%;
    margin: 0 auto;
    background-color: #fff;
    margin-bottom: 30px;
    padding: 5px;
}

.search-ipad input{
    width: 85%;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
}

.search-ipad span{
    font-size: 20px;
    padding: 8px 5px;
    cursor: pointer;
}
    /* navbar ipad */
.nav-ipad{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    max-width: 100%;
    z-index: 10000;
    background-color: #DCDCDC;
    transform: translateX(100%);
    transition: all linear 0.5s;
}

.nav-ipad > ul > li a{
    text-decoration: none;
    color: #000;
    display: block;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

li.sub-menu-ipad > ul.menusub-ipad > li > a{
    color: #fff !important;
}

li.sub-menu-ipad ul.menusub-ipad{
    display: none;
    background-color: #363636;
    width: 100%;
}

li.sub-menu-ipad:hover  ul.menusub-ipad {
    display: block; 
    opacity: 0.9;
    font-size: 20px;
}

.nav-ipad > ul > li:hover > a{
    color: #b8860b;
}

.nav-ipad .menusub-ipad li:hover a{
    background-color: #000; 
}

.navbar-ipad-btn{
    font-size: 40px;
    cursor: pointer;
    display: none;
    padding: 5px;
}

.nav-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    animation: fadeIn linear 0.5s;
    z-index: 10000;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.nav-ipad > ul > li{
    position: relative;
}

.navbar-ipad-close{
    font-size: 35px;
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    z-index: 200;
}

.check-nav-ipad{
    display: none;
}

.check-nav-ipad:checked ~ .nav-overlay{
    display: block;
}

.check-nav-ipad:checked ~ .nav-ipad{
    transform: translateX(0);
}

/* menu-mobile */
.nav-mobile{
    position: fixed;
    top: 50px;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: #efefef;
    max-width: 100%;
    overflow: auto;
    height: calc(100vh - 53px);
    transform: translateY(-120%);
    transition: transform linear 0.5s;    
}

.nav-mobile > ul > li a{
    text-decoration: none;
    color: #000;
    display: block;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

.nav-mobile > ul > li{
    position: relative;
}

li.sub-menu-mobile > ul.menusub-mobile > li > a{
    color: #fff !important;
}

li.sub-menu-mobile ul.menusub-mobile{
    display: none;
    background-color: #363636;
    width: 100%;
}

li.sub-menu-mobile:hover  ul.menusub-mobile {
    display: block; 
    opacity: 0.9;
    font-size: 20px;
}

.nav-mobile > ul > li:hover > a{
    color: #b8860b;
}

.nav-mobile .menusub-mobile li:hover a{
    background-color: #000; 
}

.nav-input:checked ~ .nav-mobile{
    transform: translateY(0);
}

.mobile-menu-list > li:hover{
    background-color: #efefef;
}


/* search (Phần tìm kiếm) */
#icon-list .search{
    position: relative;
}

#icon-list .search .down{
    display: none;
}

#icon-list .search .input-search{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 400px;
    background-color: #666;
    opacity: 0.8;
    height: 70px;
    top: 50px;
    right: -10px;
    z-index: 100;
    border-radius: 3px;
}

#icon-list .search .input-search::after{
    content: "";
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #666 transparent;
    position: absolute;
    bottom: 100%;
    right: 10px;
}

#icon-list .search input{
    outline: none;
    border: none;
    padding: 0 0 0 5px;
    font-size: 15px;
    height: 35px;
    width: 300px;
}

#icon-list .search  span{
    padding: 0 6px;
    font-size: 25px;
}

#icon-list .search > span:hover{
    cursor: pointer;
    opacity: 0.8;
}

#icon-list .search:hover .down{
    display: block;
}

/* icon */
#icon-list .cart,
#icon-list .user{
    padding: 0 10px;
    position: relative;
}

#icon-list .cart a,
#icon-list .user a{
    color: #000;
    font-size: 28px;
}

.cart span{
    position: absolute;
    font-size: 13px;
    color: #fff;
    top: 15%;
    right: 18px;
    font-weight: bold;
}

#icon-list div a:hover,
.mobile-menu-list .mobile-menu-btn:hover{
    opacity: 0.7;
    cursor: pointer;
}

/*mobile-menu (menu khi ở điện thoại)*/
.navBar-mobile{
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.mobile-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-top: 1px solid #eaeaea;
}

.mobile-menu-list p{
    margin: 0;
}

.mobile-menu-list > li{
    font-size: 14px;
    text-align: center;
    padding: 5px 10px;
}

.mobile-menu-list > li a{
    color: black;
    text-decoration: none;
}

input#check{
    display: none;
}

/*image product*/ /*Hoạt ảnh giỏ hàng*/ 
.image-product{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-product span{
    font-size: 20px;
    border-radius: 50%;
    padding: 15px 20px;
    background-color: #444;
    cursor: pointer;
    position: absolute;
    display: none;
}

.image-product span a{
    color: #fff;
}

.image-product:hover span{
    display: block;
}

.image-product span:hover{
    background-color: #000;
}



/* section back (Nút back)  */
a#top{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    position: fixed;
    bottom: 150px;
    padding: 5px 10px;
    right: 27px;
    text-align: center;
    border-radius: 50%;
    display: block;
    background-color: #363636;
    z-index: 50;
}

a#top:hover{
    opacity: 0.7;
}

.back #top p{
    margin: 0;
}

/*section phone (SĐT liên lạc)*/
.phone{
    background-color: lightgrey;
    font-size: 20px;    
}
.phone div.phone{
    padding: 10px 0 10px 100px;
}
.phone > span{
    color: #f44336;
}
/*section introduce*/
.introduce-shop{
    margin: 20px 0;
}
.introduce-shop h2{
    text-align: center;
    font-size: 40px;
}
.introduce-shop .letter{
    text-align: center;
    padding: 5px;
    width: 90%;
    margin: 0 auto;
}


/*footer*/
.foot{
    display: flex;
    margin: 0 auto;
    font-size: 14px;
    color: black;
    background-color: #fafafa;  
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px 10px;
}



div.address h4:hover{
    cursor: pointer;
}

.foot .social-media .icon-media{
    display: flex;
}

.foot .social-media .icon-media > div{
    width: 40px;
    margin: 0.5%;
}



.social-media .icon-media > li:hover a{
    opacity: 0.7;
}


.foot img{
    width: 100%;
}

div.email > a{
    text-decoration: none;
    color: black;
}
div.email:hover > a{
    color: blue;
}

/* footer-bottom */
.footer-bottom{
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-size: 13px;
    border-top: 1px solid #666 ;
}


/* plugin facebook */
.fb_dialog_content iframe{
    right: 10px !important;
}