/* New */
.New h1{
    margin: 50px 0;
    text-align: center;
    font-weight: bold;
}

.New-contain{
    width: 95%;
    margin: 3% auto;
    display: flex;
    align-items: flex-start;
}

.New-contain img,
.Blog img{
    width: 100%;
}

.main-new{
    width: 55%;
}

.sub-news{
    display: flex;
    width: 45%;
    flex-wrap: wrap;
    justify-content: center;
}

.sub-news > .sub-item{
    margin: 0.5%;
    padding: 5px;
    display: flex;
}

.sub-news > .sub-item:first-child{
    margin: 0 0.5% 0.5%;
    padding: 0 5px 5px;
}

.sub-item > .post-thumb{
    padding: 0 5px 0 0;
}

.content h4 a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 17px;
    margin: 0;
}

.New-contain .main-new .content h4 {
    text-align: center;
}

.content > div{
    font-size: 14px;
    color: #666;
}

/* Blog */
.Blog .title{
    font-size: 25px;
    text-align: center;
}

.Blog .title::before{
    content: "------------------------------------------------------------------------------------";
    position: absolute;
    left: 40px;
}

.Blog .title::after{
    content: "------------------------------------------------------------------------------------";
    position: absolute;
    right: 40px;
}

.Blog-contain{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.Blog-contain > .Blog-sub{
    width: 49%;
    margin: 0.5%;
    padding: 5px;
    display: flex;
}

.Blog-sub > div{
    margin: 0 0.5%;
}

.Blog-sub .post-thumb{
    width: 30%;
}

.Blog-sub .content{
    width: 70%;
}

/*section page*/
.pagination{
    width: 95%;
    padding: 10px 0;
    margin: 20px auto;
    border-top: 1px solid #ccc;
}

ul.page{
    display: flex;
    overflow: hidden;
    justify-content: left;
    padding: 10px 0;
}

.active{
    background-color: #ccc;
}

ul.page li a{
    border: 1px solid #000;
    color: #000;
    text-decoration: none;
    padding: 5px 10px; 
}
li.number:hover a{
    background-color: #ccc;
}
span.iconToi{
    font-size: 10px;
}
