/*Ipad*/
@media screen and (min-width: 740px) and (max-width: 1023px){
    /*header*/
    .heading{
        font-size: 13px;
        padding: 15px;
    }
    
    /*nav menu*/
    #Menu{
        justify-content: space-between;
    }

    #menu-list > ul{
        display: none;
    }

    .navbar-ipad,
    ul.menusub > li{
        font-size: 14px;
        justify-content: space-between;
    }

    .navbar-ipad{
        padding: 0 5px;
    }
    
    .navbar-ipad .logo{
        width: 100px;
    }
    
    #icon-list{
       display: none;
    }

    .navbar-ipad-btn{
        display: block;
    }



    /*product-image*/
    .image-product:hover span{
        display: none;
    }

    /*section foot*/
    .foot{
        line-height: 1.6;
    }

    div.ggmap{
        display: none;
    }

    .address{
        margin-left: 10px;
    }
}

/*Mobile*/
@media screen and (max-width: 739px){
    body{
        position: relative;
    }
     /*header*/
    .heading{
       display: none;
    }
    /*menu-list*/
    #Menu{
        font-size: 12px;
        max-width: 100%;
        padding: 0 10px;
        text-align: left;
        justify-content: space-between;
    }

    #Menu .logo{
        width: 150px;
    }
    #Menu .logo img{
        height: 50px;
    }

    #menu-list > ul > li{
        max-width: 400px;
    }

    #menu-list > ul{
        position: absolute;
        flex-direction: column;
        justify-content: flex-start;
        top: 50px;
        right: 0;
        left: 0;
        z-index: 100;
        background-color: #efefef;
        max-width: 100%;
        height: calc(100vh - 53px);
        transform: translateY(-110%);
        transition: transform linear 0.5s;
    }

    #main-menu .sub .menusub{
        position: relative;
    }

    #menu-list > ul > li a{
        font-size: 20px;
        padding: 10px;
        font-size: 18px;
    }

    #icon-list .search{
        height: 25px;
        width: 90%;
        margin: 0 auto;
        position: relative;
    }

    #icon-list .search .icon-search{
        padding: 6px;
        border: 1px solid #000;
        background-color: #DCDCDC;
        font-size: 17px;
        border-radius: 5px;
    }

    #icon-list .cart,
    #icon-list .user{
        display: none;
    }
    
    #icon-list .cart span{
        display: none;
    }

    #icon-list .search .input-search{
        width: 300px; 
        height: 50px;   
        top: 45px;
        right: 0px;

    }

    #icon-list .search .input-search::after{
        border-width: 10px;
    }
    
    #icon-list .search input{
        top: 30px;
        right: 25px;
        width: 250px;
        height: 25px;
        font-size: 15px;    
    }
    

    #icon-list .search:hover input{
        display: block;
    }

    .menusub::after{
        display: none;
    }

    /*mobile-menu*/
    .navBar-mobile{
        display: block;
        z-index: 1000;
    }

    .nav-input:checked ~ #menu-list > ul{
        transform: translateY(0);
    }

    .mobile-menu-list > li:hover{
        background-color: #efefef;
    }

    /*product-image*/
    .image-product:hover span{
        display: none;
    }

    /*section back*/
    a#top{
        font-size: 12px;
        padding: 10px 15px;
        bottom: 80px;
        right: 20px;
    }

    /*Introduce shop*/
    .introduce-shop{
        display: none;
    }

    /*Phone*/
    .phone div.phone{
        padding-left: 10px;
    }
    
    /*section foot*/
    .foot{
        line-height: 1.6;
        font-size: 14px;
        padding: 20px 0;
    } 


    div.address h4,
    div.social-media h4{
        font-size: 19px;
    }

    div.address #Contact{
        display: block;
    }

    #list-store,
    div.ggmap,
    #embed_fb,
    #contact-list{
        display: none;
    }

    /* footer-bottom */
    .footer-bottom{
        margin-bottom: 52px;
    }
}