/*section contact*/
section.contact{
    width: 90%;
    margin: 50px auto;
}

.main-contact{
    text-align: center;
    display: flex;
}

.main-contact .left{
    width: 70%;
}

.main-contact .right{
    width: 30%;
}

.main-contact h4{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.main-contact a{
    text-decoration: none;
    color: #000;
}

.main-contact .left .email-contact a:hover{
    color: #0000FF;
}

.main-contact .left .store{
    font-size: 20px;
    font-weight: bold;
}

.main-contact > .left > ul > li,
.main-contact > .right  ul > li{
    font-weight: normal;
}
/*left*/

.OP{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #ccc;
}
.OP .title{
    margin: 20px 0;
    font-size: 25px;
}

div.filtering{
    margin-bottom: 20px;
}

div.filtering > div{
    margin: 0 20px;
    height: 450px;
}

div.thumb-sub img{
    width: 100%;
    transition: opacity 1s;
}

div.thumb-sub .image-product:hover img{
    opacity: 0.5;
}

div.thumb-sub > div{
    overflow: hidden;
}

div.thumb-sub{
    background-color: #fff ;
}

.comment{
    padding: 10px;
    font-size: 14px;
}

.slick-prev::before, .slick-next::before{
    font-size: 30px;
    color: #000;
}

.main-contact > .left .Blog{
    text-align: left;
    margin-top: 10px;
}

/*right*/
.main-contact > .right{
    text-align: left;
}

.main-contact > .right h3{
    border-bottom: 1px solid #ccc;
    padding: 0 0 10px;
}

.main-contact > .right > .search{
    background-color: #fff;
    width: 290px;
    border: 1px solid #ccc;
    margin: 10px 0 20px;
}

.main-contact > .right > .search input{
    width: 250px;
}

.main-contact > .right > .search span{
    padding: 8px;
}

.main-contact > .right > .search span:hover{
   background-color: #ccc;
   cursor: pointer;
}

.main-contact > .right .news{
    border-top: 1px solid #000;
    padding: 20px 0;
}

.main-contact > .right  ul > li{
    margin: 10px 0 ;
}