/*Ipad*/
@media (min-width: 740px) and (max-width: 1023px){
    /*ADS*/
    .carousel-item > img{
    height: 400px;
    }

    /*body*/
    section.body{
        width: 100%;
    }

    div.jean h6{
        font-size: 15px;
    }

    div.jean div{
        overflow: hidden;
        font-size: 14px;
    }

    div.jean span{
        font-size: 9px;
    }

    .list ul li a.icon-list{
        display: none;
    }


    .price .money{
        padding: 10px 0 5px;
    }
}

/*Mobile*/

@media screen and (max-width: 739px){
    /*ads*/
    section.ads{
        width: 100%;
    }

    .carousel-inner img{
        height: 200px;
    }
    /*menu jean*/
    .title > span{
        font-size: 17px;
        padding: 5px;
    }

    .List ul li.sub-jean a{
        font-size: 10px;
        padding: 5px;
    } 

    .List ul li a.icon-list{
        display: none;
    }

    /*body*/
    section.body{
        width: 100%;
    }

    div.jeans{
        margin-top: 10px;
    }

    div.jean{
        width: 48%;
        margin: 3px;
    }

    div.jean img{
        max-height: 250px;
    }

    div.jean div{
        overflow: hidden;
        font-size: 11px;
    }

    div.jean h6{
        font-size: 12px;
        font-weight: 700;
    }

    div.jean span{
        font-size: 8px;
    }

    .price .money,
    .price .money-discout{
        padding: 10px 0 5px;
    }

    div.label, .label-discout, .discout{
        padding: 5px 10px;
    }

    div.label-discout{
        margin-top: 30px;
    }

    /*section page*/
    ul.page li a{
        font-size: 12px;
    }
}