/*Ipad*/
@media (min-width: 740px) and (max-width: 1023px){
    /*ADS*/
    .carousel-item > img{
    height: 400px;
    }

    /*body*/
    section.body{
        width: 100%;
    }

    div.product h4{
        font-size: 14px;
    }

    div.product span{
        font-size: 11px;
    }

    .list ul li a.icon-list{
        display: none;
    }
}

/*Mobile*/

@media screen and (max-width: 739px){
    /*ads*/
    section.ads{
        width: 100%;
    }

    .carousel-inner img{
        height: 200px;
    }
    /*menu product*/
    .title > span{
        font-size: 17px;
        padding: 5px 5px 0;
    }

    .List ul li.sub-product a{
        font-size: 10px;
        padding: 5px;
    } 

    .List ul li a.icon-list{
        display: none;
    }

    /*body*/
    section.body{
        width: 100%;
    }

    div.Products{
        margin-top: 10px;
    }

    div.product{
        width: 48%;
        margin: 3px;
    }

    div.product img{
        max-height: 250px;
    }

    div.product div{
        overflow: hidden;
        font-size: 11px;
    }

    div.product h4{
        font-size: 11px;
    }

   
    div.label-new, .label-discout, .discout{
        padding: 5px 10px;
    }

    div.label-discout{
        margin-top: 30px;
    }

    .price .money, .price .money-discout{
        font-size: 10px;
    }
    div.product .money-discout > span{
        font-size: 9px;
    }

    /*section page*/
    ul.page li a{
        font-size: 12px;
    }
}