/*Ipad*/
@media (min-width: 740px) and (max-width: 1023px){
    /*LEFT*/
    .list > div{
        text-align: left;
    }

    .info-left div,
    .form span > input,
    .form #number{
        float: none;
        width: 100%;
    }

    /*Right*/
    .product-list{
        font-size: 11px;
    }

    td.name{
        font-weight: bold;
        font-size: 12px;
    }

}

@media screen and (max-width: 739px){
    /*section cart*/
    .main{
        flex-direction: column;
    }

    .main > div{
        width: 100%;
        padding: 0;
        border: 0;
        margin: 0;
    }

    .head {
        font-size: 20px;
    }

    /*LEFT*/
    .send-cart{
        margin: 20px 0;
    }

    .list > div{
        text-align: left;
    }

    .info-left div,
    .form span > input,
    .form #number{
        float: none;
        width: 100%;
    }

    /*Right*/
    .product-list{
        font-size: 11px;
    }

    td.name{
        font-weight: bold;
        font-size: 12px;
    }

    .right .send-cart{
        text-align: right;
        display: block;
    }

    table tr th,
    table tr td{
        padding: 3px;
    }
}