/*Ipad*/
@media (min-width: 740px) and (max-width: 1023px){
    /*section product*/
    section.product{
        width: 95%;
    }

    div.information, div.color{
        padding: 20px 20px 0;
    }

    div.information div span{
        font-size: 15px;
    }

    div.product > div,
    div.item > img{
        height: 500px;
    }

    li.msp{
        font-size: 12px;
    }

    div.mau img{
        height: 40px;
    }

    div.dk{
        font-size: 17px;
    }

    div.button > button{
        font-size: 12px;
    }

    li span{
        font-size: 18px;
    }

    /*Other product*/
    .OP{
        width: 93%;
    }

    div.filtering > div{
        height: 350px;
    }

    .slick-prev::before, .slick-next::before{
        display: none;
    }

    .comment{
        font-size: 19px;
    }

}

/*Mobile*/

@media screen and (max-width: 739px){
    /*section product*/
    section.product{
        width: 100%;
    }

    div.Product{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    div.color ul > li,
    li.image-product{
        list-style-type: none;
    }
    
    div.information div span{
        font-size: 10px;
    }
    
    div.item > img{
        height: 300px;
    }

    div.color{
        height: 400px;
    }

    div.item{
        margin: 0;
        width: 65%;
    }

    div.information{
        width: 30%;
        padding: 3px;
    }
    div.color{
        width: 100%;
        background-color: #FFFFF0;
        height: 400px;
    }

    /* right*/
    li.price-old,
    li.price-new,
    li.image-product{
        font-size: 10px;
    }
    
    li.msp{
        font-size: 9px;
    }

    div.special{
        font-size: 12px;
        border-radius: 5px;
    }
    
    

    /*color left*/
    .color ul li span{
        font-size: 16px;
    }

    .btnColor .mau img{
        max-height: 30px;
    }

    div.dk{
        padding: 5px;
    }

    div.mau img{
        min-height: 100px;
    }

    div.dk a{
        font-size: 17px;
    }

    div.button > button{
        font-size: 17px;
        background-color: #FFFFF0;
        padding: 0 0 10px;
        border-bottom: 1px solid #000 ;
    }

    /*other product*/
    div.filtering > div{
        height: 300px;
    }

    .OP .title{
        font-size: 20px;
    }

    .slick-prev::before, .slick-next::before{
        display: none;
    }

    .comment{
        font-size: 15px;
    }
    
}
    