@media (min-width: 740px) and (max-width: 1023px){
    .cart-main{
        width: 95%;
    }

    td div, th div, tbody{
        font-size: 18px;
    }

    #mycart tr td.name{
        width: 200px;
    }
    
    
}

@media screen and (max-width: 739px){
    .cart-main{
        width: 100%;
    }

    th, td{
        padding: 5px;
        font-size: 12px;
    }

    tbody tr th:nth-child(5),
    #mycart tr td:nth-child(5){
        display: none;
        border: none;
    }

    #mycart tr td.remove-product{
       display: none;
    }

    #mycart tr td.name{
        width: 130px;
    }
    
    th div{
        font-size: 14px;
    }

    td img{
        width: 50px;
    }
    
}