/*Ipad*/
@media screen and (min-width: 740px) and (max-width: 1024px){
    /*nav menu*/
    #Menu,
    ul.menusub > li{
        font-size: 14px;
        justify-content: space-between;
    }

    #menu-list > ul{
        display: none;
    }

    .navbar-ipad,
    ul.menusub > li{
        font-size: 14px;
        justify-content: space-between;
    }

    .navbar-ipad{
        padding: 0 5px;
    }
    
    .navbar-ipad .logo{
        width: 100px;
    }
    
    #icon-list{
       display: none;
    }

    .navbar-ipad-btn{
        display: block;
    }

    /* mobile menu */
    .nav-badge{
        right: 10px;
        font-size: 14px;
    }

    /*product-image*/
    .image-product:hover span{
        display: none;
    }

    /* Blog */
    .Blog-sub > .title{
        font-size: 19px;
    }

    .Blog-sub p{
        font-size: 15px;
    }
    
    div.Blog-sub{
        width: 48%;
    }
   

    /*section foot*/
    .foot{
        line-height: 1.6;
        font-size: 18px;
    }

    div.ggmap{
        display: none;
    }

    .address{
        margin-left: 10px;
    }
}

/*Mobile*/
@media screen and (max-width: 739px){
    body{
        position: relative;
    }
    /*menu-list*/
    #Menu{
        font-size: 12px;
        max-width: 100%;
        padding: 0 10px;
        text-align: left;
        justify-content: space-between;
    }

    #Menu .logo{
        width: 150px;
    }
    #Menu .logo img{
        height: 50px;
    }

    #menu-list > ul > li{
        max-width: 400px;
    }

    #menu-list > ul{
       display: none;
    }


    #icon-list .search{
        height: 25px;
        width: 90%;
        margin: 0 auto;
        position: relative;
    }

    #icon-list .search .icon-search{
        padding: 6px;
        border: 1px solid #000;
        background-color: #DCDCDC;
        font-size: 17px;
        border-radius: 5px;
    }

    #icon-list .cart,
    #icon-list .user{
        display: none;
    }
    
    #icon-list .cart span{
        display: none;
    }

    #icon-list .search .input-search{
        width: 300px; 
        height: 50px;   
        top: 45px;
        right: 0px;
    }

    #icon-list .search .input-search::after{
        border-width: 10px;
    }
    
    #icon-list .search input{
        top: 30px;
        right: 25px;
        width: 250px;
        height: 25px;
        font-size: 15px;    
    }
    

    #icon-list .search:hover input{
        display: block;
    }

    .menusub::after{
        display: none;
    }

    /*mobile-menu*/
    .navBar-mobile{
        display: block;
        z-index: 1000;
    }

    .nav-badge{
        right: 10px;
        top: 5px;
    }    

    /*product-image*/
    .image-product:hover span{
        display: none;
    }

    /*section back*/
    a#top{
        font-size: 12px;
        padding: 10px 15px;
        bottom: 145px;
        right: 25px;
    }

    /*Introduce shop*/
    .introduce-shop{
        display: none;
    }

    /*Phone*/
    .phone div.phone{
        padding-left: 10px;
    }
    
    /*section foot*/
    .foot{
        line-height: 1.6;
        font-size: 12px;
        padding: 20px 5px;
    } 


    div.address h4,
    div.social-media h4{
        font-size: 19px;
    }

    div.address #Contact{
        display: block;
    }

    #list-store,
    div.ggmap,
    #embed_fb,
    #contact-list{
        display: none;
    }

    /* footer-bottom */
    .footer-bottom{
        margin-bottom: 52px;
    }
}