
/*Ipad*/
@media screen and (min-width: 740px) and (max-width: 1023px){
    /* logo */
    #logo .logo-image img{
        height: 300px;
    }

    /*ADS*/
    .carousel-inner img{
        height: 400px;
    }

    /*ads-sub*/
    .ads-sub{
        display: none;
    }

    /*best seller*/
    div.filtering > div{
        height: 350px;
    }

    .BS img{
        min-height: 250px;
    }
    div.comment-top .name{
        font-size: 15px;
    }
    div.comment-top .money{
        font-size: 18px;
        font-weight: bold;
    }

    .slick-prev::before, .slick-next::before{
        display: none;
    }


    /*favorite product*/
    .favorite{
        width: 100%;
    }

    .product{
        width: 45%;
        margin: 1%;
    }

    div.comment > h6,
    .price .money{
        font-size: 18px;
    }

    /* service */
    div.service{
        display: none;
    }

}

/*Mobile*/
@media screen and (max-width: 739px){
    /* logo */
    #logo .logo-image img{
        height: 200px;
    }


    /*ADS*/
    section.ads-main{
        width: 100%;
    }
    .carousel-inner img{
        max-height: 200px;
    }

    #demo{
        margin: 0;
    }

    /*ads-sub*/
    .ads-sub{
        display: none;
    }

    /*best seller*/
    
    .BestSeller{
        width: 100%;
    }
    
    div.filtering > div{
        height: 280px;
    }

    .slick-prev::before, .slick-next::before{
        display: none;
    }

    div.comment-top .name,
    div.comment-top .money{
        font-size: 12px;
    }

    .image-product:hover span{
        display: none;
    }

    /*favorite product*/
    .favorite{
        width: 100%;
    }

    .favorite h2{
        font-size: 22px;
    }

    .product{
        width: 42%;
        margin: 2%;
    }

    .product img {
        min-height: 200px;
    }

    .product .comment h6{
        font-size: 12px;
    }

    div.label,
    .price .money{
        padding: 5px;
        font-size: 12px;
    }

    .price > div{
        padding: 5px 0 0;
    }

    /*Blog*/

    .Blog-sub > .title{
        font-size: 12px;
    }

    div.Blog-sub{
        width: 90%;
    }

    /*section service*/
    .service{
        display: none;
    }
}